<div id="content" class="app-content box-shadow-z2" [class.app-aside-open]="navOpened"
  [class.app-aside-closed]="!navOpened" role="main">
  <div class="app-body">
    <div class="app-body-inner">
      <div class="row-col">
        <div class="row-row">
          <div class="row-body scrollable hover">
            <div class="row-inner">
              <div class="row-col">
                <div class="col-xs hidden-lg-up show" id="detail">
                  <div class="row-col">
                    <div class="col-lg col-md col-sm col-xs b-r">
                      <div class="row-col">
                        <div class="b-b white bg">
                          <div class="navbar no-radius">
                            <div class="row">
                              <div class="col-md-9">
                                <ul class="nav navbar-nav list-top-navbar">
                                  <li class="nav-item">
                                    <h1 class="navbar-item-title">
                                      REPORTS by Projects
                                    </h1>
                                  </li>

                                  <li class="nav-item"></li>
                                </ul>
                              </div>
                              <div class="col-md-3">
                                <ul class="nav navbar-nav list-top-navbar">

                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row-row">
                          <div class="row-body scrollable">
                            <div class="row-inner">
                              <div class="p-a">
                                <div class="row">
                                  <div class="col-xs-12">
                                    <div class="table-box box visible">
                                      <div class="box-header p-8">
                                        <div class="row">
                                          <div class="col-md-4">
                                            <h2 class="nowrap l-h" style="inline-block">
                                              Project Wise Report
                                            </h2>
                                          </div>
                                          <div class="col-md-4">
                                            <!-- <div class="form-group" style="display: inline-block;">
                                              <div class="" daterangepicker (selected)="
                                                  selectedDate($event)
                                                ">
                                                <span class="form-control uneditable-input" name="daterange">
                                                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                  &nbsp;
                                                  {{
                                                    dateStart
                                                      | date: 'dd-MM-yyyy'
                                                  }}
                                                  -
                                                  {{
                                                    dateEnd | date: 'dd-MM-yyyy'
                                                  }}
                                                </span>
                                              </div>
                                            </div> -->
                                          </div>
                                          <div class="col-md-4 text-right">
                                            <li class="nav-item dropdown"></li>
                                            <!-- <button (click)="genPDF()" class="btn btn-green round" type="button"
                                              title="Assets Backup">
                                              Export to PDF
                                            </button> -->
                                            <button (click)="
                                                exportExcel(result, true)
                                              " class="btn btn-green round" type="button" title="Excel">
                                              Export to Excel
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="table-box-body" id="datatable" [hidden]="!isFetchingData">
                                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                          class="table b-l-0 route-table m-b-0 table-hover table-striped table-bordered"
                                          id="angulardatatable">
                                          <thead class="thead-light">
                                            <tr>
                                              <!-- class="loadfreeth" -->
                                              <th>Project Name</th>
                                              <th>Percentage</th>
                                              <th>Status</th>
                                              <th>Department</th>
                                              <th>Start Date</th>
                                              <th>End Date</th>
                                              <th>Objectives</th>
                                              <th>Total # of Objectives</th>
                                              <th>Completed # of Objectives</th>
                                              <th>Activities</th>
                                              <th>Total # of Activities</th>
                                              <th>Completed # of Activities</th>
                                              <th>Tasks</th>
                                              <th>Total # of Tasks</th>
                                              <th>Completed # of Tasks</th>
                                              <th>Officials</th>
                                              <th>Project Coordinators</th>
                                              <th>Project Managers</th>

                                            </tr>
                                          </thead>
                                          <tbody>
                                            <ng-template ngFor let-data [ngForOf]="result" let-i="index">
                                              <!-- [class.odd]="" -->
                                              <tr role="row" class="">
                                                <td>
                                                  {{ data.name }}
                                                </td>
                                                <td>
                                                  {{ data.percentage }}
                                                </td>
                                                <td>
                                                  {{ data.status }}
                                                </td>
                                                <td>
                                                  {{ data.department }}
                                                </td>
                                                <td>
                                                  {{ data.start_date | date }}
                                                </td>
                                                <td>
                                                  {{ data.end_date | date }}
                                                </td>

                                                <td>
                                                  <div *ngFor="let obj of data.objective_detail">
                                                    {{obj.objective_name}}

                                                  </div>
                                                </td>
                                                <td>
                                                  {{data.objective_detail.length}}

                                                </td>
                                                <td>
                                                  {{data.objective_complete}}

                                                </td>
                                                <td>
                                                  <div *ngFor="let obj of data.activity_detail">
                                                    {{obj.activity_name}}

                                                  </div>
                                                </td>
                                                <td>
                                                  {{data.activity_detail.length}}

                                                </td>
                                                <td>
                                                  {{data.activity_complete}}

                                                </td>
                                                <td>

                                                  <div *ngFor="let task of data.task_detail">
                                                    {{task.task_name}}

                                                  </div>
                                                </td>
                                                <td>
                                                  {{data.task_detail.length}}

                                                </td>
                                                <td>
                                                  {{data.task_complete}}

                                                </td>

                                                <td>
                                                  <div *ngFor="let user of data.task_users">
                                                    {{user }}

                                                  </div>

                                                </td>
                                                <td>
                                                  <div *ngFor="let user of data.activity_users">
                                                    {{user }}

                                                  </div>

                                                </td>
                                                <td>
                                                  <div *ngFor="let user of data.objectives_users">
                                                    {{user }}

                                                  </div>

                                                </td>


                                              </tr>
                                              <tr *ngIf="
                                                  result == 0 && isFetchingData
                                                ">
                                                <td colspan="12" class="no-data-available">
                                                  Data is not Available.
                                                </td>
                                              </tr>
                                            </ng-template>
                                          </tbody>
                                        </table>

                                        <div [hidden]="!showTempTable">
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                          <br />
                                        </div>
                                        <!-- [hidden]="!showTempTable" -->
                                        <div [hidden]="!showTempTable" id="secrettable">
                                          <span>
                                            <img style="width:100px;height:50px;padding:10px"
                                              src="./assets/images/irmlogo.png" alt="IRM" />
                                            <span style="text-align: center;">
                                              <h5 style="text-align: center;    font-size: 2.25rem;
                                              ">
                                                Assets Audit Report
                                              </h5>
                                            </span>
                                          </span>
                                          <h6 style="padding:10px">
                                            Date:
                                            <span>{{
                                              returnTodayDate
                                                | date: 'dd-MM-yyyy'
                                            }}</span>
                                          </h6>
                                          <br />
                                          <br />
                                          <div class="box table-box-body dataTables_wrapper">
                                            <table
                                              class="table b-l-0 route-table m-b-0 table-hover table-striped table-bordered">
                                              <thead>
                                                <tr>
                                                  <!-- let head of (hiddenTblresult[0] -->

                                                  <th *ngFor="
                                                      let head of hiddenTblresult[0]
                                                        | keys
                                                    ">
                                                    {{ head }}
                                                  </th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr *ngFor="
                                                    let item of hiddenTblresult;
                                                    let i = index
                                                  " [class.colorbg]="i % 2 == 0">
                                                  <td *ngFor="
                                                      let list of item | keys
                                                    ">
                                                    {{ item[list] }}
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <footer>
                                            <br />
                                            <hr />
                                            <br />
                                            <div class="row" style="padding: 10px">
                                              <div class="col-md-8">
                                                IRM Complex # 7, Sunrise Avenue,
                                                <br />
                                                Park Road near COMSATS
                                                University, <br />

                                                Islamabad, Pakistan.<br />
                                              </div>
                                              <div class="col-md-4 text-right">
                                                Tel: +92 51 8742201-7 <br />
                                                Fax: +92 51 8742208
                                              </div>
                                            </div>
                                            <div class="row" style="padding: 10px">
                                              <div class="col-md-12 text-center">
                                                IRM is registered under section
                                                42 of Companies Ordinance 1984
                                                <br />
                                                www.irm.edu.pk
                                              </div>
                                              <!-- <div
                                                  class="col-md-4 text-right"
                                                >
                                                  www.irm.edu.pk
                                                </div> -->
                                            </div>
                                          </footer>
                                          <!-- </div> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Right End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
