<div id="content" class="app-content box-shadow-z2" [class.app-aside-open]="navOpened"
  [class.app-aside-closed]="!navOpened" role="main">
  <div class="app-body">
    <!-- ############ PAGE START-->
    <div class="app-body-inner">
      <div class="row-col">
        <div class="row-row">
          <div class="row-col">
            <div class="col-xs modal fade aside aside-sm  b-r">
              <div class="row-col">
                <div class="white bg b-b toptoolbar">
                  <!-- inner top navbar start -->
                  <div class="navbar no-radius">
                    <!-- link and dropdown -->
                    <div class="box-header p-l-0">
                      <h2>Dashboard</h2>
                    </div>
                  </div>
                  <!-- inner top navbar end -->
                </div>
                <div class="row-row">
                  <div class="padding custom-scroll">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="box">
                          <div class="box-header">
                            <h2>Projects</h2>
                          </div>
                          <div class="box-body p-t-0">
                            <div #chartTarget id="pie-chart"
                              style="min-width: 220px; height: 300px; max-width: 600px; margin: 0 auto">
                              chart target
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="box">
                          <div class="box-header">
                            <h2>Objectives</h2>
                          </div>
                          <div class="box-body p-t-0">
                            <div #chartTargetObjectives id="pie-chart"
                              style="min-width: 220px; height: 300px; max-width: 600px; margin: 0 auto">
                              chart target
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="box">
                          <div class="box-header">
                            <h2>Activities</h2>
                          </div>
                          <div class="box-body p-t-0">
                            <div #chartTargetActivities id="pie-chart"
                              style="min-width: 220px; height: 300px; max-width: 600px; margin: 0 auto">
                              chart target
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="box">
                          <div class="box-header">
                            <h2>Tasks</h2>
                          </div>
                          <div class="box-body p-t-0">
                            <div #chartTargetTasks id="pie-chart"
                              style="min-width: 220px; height: 300px; max-width: 600px; margin: 0 auto">
                              chart target
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="box">
                          <div class="box-header">
                            <h2>Users</h2>
                          </div>
                          <div class="box-body p-t-0">
                            <div #chartTargetUsers id="pie-chart"
                              style="min-width: 220px; height: 300px; max-width: 600px; margin: 0 auto">
                              chart target
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <!-- <div class="row-row">
                <div class="padding custom-scroll">


                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ############ PAGE END-->
  </div>
</div>
