<div class="modal-content">
  <!--  -->
  <form class="form-horizontal">
    <div class="modal-header _600">
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="wizard-nav max">
        <li class="wizard-item" *ngIf="role === 'Chief Executive Officer'">
          <a class="wizard-link" [class.active]="tabId == 1" (click)="changeTab(1)">
            Projects Info</a>
        </li>
        <li class="wizard-item">
          <a class="wizard-link" [class.active]="tabId == 2" (click)="changeTab(2)">Objectives</a>
        </li>
      </ul>

      <div [hidden]="tabId !== 1" [formGroup]="appInfoForm">
        <div class="form-group row">
          <label class="col-lg-3 form-control-label">Id:</label>
          <div class="col-lg-9">
            <input formControlName="id" [ngClass]="{
                'error-input': submitForm && appInfoForm.controls['id'].invalid
              }" class="form-control" type="text" disabled />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 form-control-label">name:</label>
          <div class="col-lg-9">
            <input formControlName="name" [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['name'].invalid
              }" class="form-control" type="text" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 form-control-label">price:</label>
          <div class="col-lg-9">
            <input formControlName="price" [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['price'].invalid
              }" class="form-control" type="text" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 form-control-label">donor:</label>
          <div class="col-lg-9">
            <select formControlName="donor" [ngClass]="{
              'error-input': submitForm && appInfoForm.controls['donor'].invalid
            }" name="type" class="form-control valid">
              <ng-template ngFor let-item [ngForOf]="donorListing" let-i="index">
                <option value="{{ item.name }}">{{ item.name }}</option>
              </ng-template>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 form-control-label">Chief Operating Officers:</label>
          <div class="col-lg-9">
            <ng-select [items]="usersList" formControlName="users" [multiple]="true" bindLabel="name"
              placeholder="Select users">
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items ? items.slice(0, 2) : []">
                  <span class="ng-value-label"><img [src]="item.src" width="20px" height="20px" />
                    {{ item.name }}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 2">
                  <span class="ng-value-label">{{ items.length - 2 }} more...</span>
                </div>
              </ng-template>
            </ng-select>
            <!-- <input formControlName="task" class="form-control" type="text" /> -->
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 form-control-label">department:</label>
          <div class="col-lg-9">
            <select formControlName="department" (change)="assignedToChanged($event.target.value)" [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['department'].invalid
              }" name="name" class="form-control valid">
              <ng-template ngFor let-item [ngForOf]="departmentList" let-i="index">
                <option value="{{ item.name }}">{{ item.name }} </option>
              </ng-template>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 form-control-label">priority:</label>
          <div class="col-lg-9">
            <select formControlName="priority" [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['priority'].invalid
              }" name="name" class="form-control valid">
              <ng-template ngFor let-item [ngForOf]="priorityList" let-i="index">
                <option value="{{ item.name }}">{{ item.name }} </option>
              </ng-template>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 form-control-label">severity:</label>
          <div class="col-lg-9">
            <select formControlName="severity" [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['severity'].invalid
              }" name="name" class="form-control valid">
              <ng-template ngFor let-item [ngForOf]="severityList" let-i="index">
                <option value="{{ item.name }}">{{ item.name }} </option>
              </ng-template>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 form-control-label">start_date:</label>
          <div class="col-lg-9">
            <input formControlName="start_date" placement="bottom" bsDatepicker [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['start_date'].invalid
              }" class="form-control" type="text" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 form-control-label">end_date:</label>
          <div class="col-lg-9">
            <input formControlName="end_date" placement="bottom" bsDatepicker [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['end_date'].invalid
              }" class="form-control" type="text" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 form-control-label">notes:</label>
          <div class="col-lg-9">
            <input formControlName="notes" [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['notes'].invalid
              }" class="form-control" type="text" />
          </div>
        </div>
        <!-- <div class="form-group row">
          <label class="col-lg-3 form-control-label">attachments:</label>
          <div class="col-lg-9">
            <input
              formControlName="attachments"
              [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['attachments'].invalid
              }"
              class="form-control"
              type="text"
            />
          </div>
        </div> -->
        <!-- <div class="form-group row">
          <label class="col-lg-3 form-control-label">status:</label>
          <div class="col-lg-9">
            <input
              formControlName="status"
              [ngClass]="{
                'error-input':
                  submitForm && appInfoForm.controls['status'].invalid
              }"
              class="form-control"
              type="text"
            />
          </div>
        </div> -->
      </div>
      <div [hidden]="tabId !== 2" [formGroup]="appObjectiveForm">
        <div id="tab-3" formArrayName="objectives">
          <div *ngFor="let item of formDataObjectives.controls; let i = index" [formGroupName]="i">
            <div class="row">
              <div class="col-lg-12">
                <div *ngIf="i != -1" class="pull-right add-btn">
                  <button _ngcontent-c13="" (click)="deleteObjective(i, item)" class="btn btn-sm btn-block btn-line"
                    type="button">
                    <i class="material-icons">delete</i>
                  </button>
                </div>
                <div *ngIf="i == 0" class="pull-right add-btn">
                  <button class="btn btn-sm btn-block customclass btn-green" (click)="addObjectives()" type="button">
                    <i _ngcontent-c8="" class="material-icons">add</i>
                  </button>
                </div>
                <!-- *ngIf="i != 0" -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group row">
                  <label class="col-lg-3 form-control-label l-label">Objective:</label>

                  <div class="col-lg-9">
                    <input type="text" [ngClass]="{
                        'error-input':
                          submitObjectives &&
                          formDataObjectives.controls[i].controls[
                            'objective_name'
                          ].invalid
                      }" formControlName="objective_name" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label class=" form-control-label l-label">Managers:</label>
                  </div>
                  <div class="col-lg-9">
                    <!-- <input
                      class="form-control"
                      [ngClass]="{
                        'error-input':
                          submitObjectives &&
                          formDataSubsidiariesInfo.controls[i].controls[
                            'users_assigned'
                          ].invalid
                      }"
                      maxLength="3"
                      numbersOnly
                      formControlName="users_assigned"
                      id=""
                      name=""
                      rows="3"
                    /> -->

                    <!-- [items]="formDataUsersArray" -->

                    <ng-select [items]="projectManagersList" [multiple]="true" bindLabel="name"
                      formControlName="users_assigned" placeholder="Select Managers">
                      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items ? items.slice(0, 2) : []">
                          <span class="ng-value-label"><img [src]="item.src" width="20px" height="20px" />
                            {{ item.name }}</span>
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                          <span class="ng-value-label">{{ items.length - 2 }} more...</span>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group row">
                  <label class="col-lg-3 form-control-label l-label">Start Date:</label>

                  <div class="col-lg-9">
                    <input type="text" bsDatepicker [ngClass]="{
                        'error-input':
                          submitObjectives &&
                          formDataObjectives.controls[i].controls[
                            'start_date'
                          ].invalid
                      }" formControlName="start_date" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group row">
                  <label class="col-lg-3 form-control-label l-label">End Date:</label>

                  <div class="col-lg-9">
                    <input type="text" bsDatepicker [ngClass]="{
                        'error-input':
                          submitObjectives &&
                          formDataObjectives.controls[i].controls[
                            'end_date'
                          ].invalid
                      }" formControlName="end_date" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group row">
                  <label class="col-lg-3 form-control-label">severity:</label>
                  <div class="col-lg-9">
                    <select formControlName="severity" [ngClass]="{
                'error-input':
                submitObjectives &&formDataObjectives.controls[i].controls['severity'].invalid
              }" name="name" class="form-control valid">
                      <ng-template ngFor let-item [ngForOf]="severityList" let-i="index">
                        <option value="{{ item.name }}">{{ item.name }} </option>
                      </ng-template>
                    </select>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <a (click)="
                  openAttachments(upload,
                  item.value
                  )
                "><i class="material-icons">attach_file</i>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <hr class="line" />
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-line" (click)="closeModal()">
        Cancel
      </button>
      <button type="button" (click)="saveAppInfo()" class="btn btn-green round" [disabled]="isLoading">
        <i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin btn-spinner"></i>
        <span *ngIf="!isLoading">Save </span>
      </button>

      <!--  -->
    </div>
    <!-- <div class="modal-footer">

      </div> -->
  </form>
</div>

<!-- Confirmation  Modal -->
<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to remove
      {{ objectiveInfo?.objective_name }} Objective?
    </p>
    <button type="button" class="btn btn-green" (click)="deleteObjectiveFromDB()">
      Yes
    </button>
    <button type="button" class="btn btn-default" (click)="decline()">
      No
    </button>
  </div>
</ng-template>


<ng-template #upload>
  <shared-upload-attachments [title]="title" (output)="reload()" [attachments]="attachments" [formData]="tempFormData"
    [fileType]="'objectives'">
  </shared-upload-attachments>
</ng-template>
