<h3> {{title}} Attachments</h3>

<div class="search-chat"> <input [(ngModel)]="query" nz-input placeholder="Search...." />
</div>

<div class="boxy" *ngFor="let item of attachmentsToDisplay | filterlist: 'file_name':query;let i = index">
  <div class="centered">
    <small style="word-wrap: break-word">{{item?.file_name}} </small>
    <br /> <small> Uploader:<strong> {{item?.user_name}}</strong></small>
    <br />
    <small *ngIf="item?.objective_name"> Objective:<strong> {{item?.objective_name }}</strong></small>
    <small *ngIf="item?.activity_name"> Activity:<strong> {{item.activity_name }}</strong></small>
    <small *ngIf="item?.task_name"> Task:<strong> {{item.task_name }}</strong>
    </small>
    <br *ngIf="item?.task_name || item?.activity_name || item?.objective_name " />
    <small> Date:<strong> {{item?.date | date}}</strong></small>
    <br />
    <small> type:<strong> {{item?.file_type }}</strong></small>
    <br />

    <div style="display: inline-flex">
      <button type="button" (click)="downloadFile(item)" class="btn btn-green"> View </button>
      <button type="button" *ngIf="user_id==item?.user_id && item?.file_type ==fileType"
        (click)="deleteFile(deleteTemplate,item)" class="btn btn-red">
        delete
      </button></div>
  </div>
</div>

<div class="boxy incomplete">
  <label class="fileContainer">
    <img *ngIf="!file" src="assets/images/attachment.png">
    <input type="file" (change)="onFileChange($event)" class="inputfile" />
    <button *ngIf="file" type="button" (click)="uploadFile()" class="btn btn-green"> UPLOAD !!</button>

  </label>

</div>

<!-- Confirmation  Modal -->
<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to remove
      {{ selectedAttachment?.file_name }} ?
    </p>
    <button type="button" class="btn btn-green" (click)="confirmDelete()">
      Yes
    </button>
    <button type="button" class="btn btn-default" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
