<div id="content" class="app-content box-shadow-z2" [class.app-aside-open]="navOpened"
  [class.app-aside-closed]="!navOpened" role="main">
  <div class="app-body">
    <div class="app-body-inner">
      <div class="row-col">
        <div class="row-row">
          <div class="row-body scrollable hover">
            <div class="row-inner">
              <div class="row-col">
                <!-- Aside End -->
                <!--Rightside -->
                <div class="col-xs hidden-lg-up show" id="detail">
                  <div class="row-col">
                    <div class="col-lg col-md col-sm col-xs b-r">
                      <div class="row-col">
                        <div class="b-b white bg">
                          <div class="navbar no-radius">
                            <ul class="nav navbar-nav list-top-navbar">
                              <li class="nav-item">
                                <h5 class="navbar-item-title">Tasks</h5>
                              </li>
                              <!-- <li class="nav-item">
                                <a
                                  class="nav-link btn btn-green"
                                  data-toggle="modal"
                                  (click)="openModal(appinfomodal, null, true)"
                                >
                                  <i class="material-icons">add</i> Add
                                  Activities
                                </a>
                              </li> -->
                            </ul>
                          </div>
                        </div>

                        <div class="row-row">
                          <div class="row-body scrollable">
                            <div class="row-inner">
                              <div class="p-a">
                                <div class="row">
                                  <div class="col-xs-12">
                                    <div class="table-box box visible">
                                      <!-- <div class="box-header">
                                        <div class="row">
                                          <div class="col-md-12">
                                            <h2>Applications List</h2>
                                          </div>
                                        </div>
                                      </div> -->

                                      <div class="box-header p-8">
                                        <div class="row">
                                          <div class="col-md-1">
                                            <h2 class="nowrap l-h">
                                              Tasks
                                            </h2>
                                          </div>
                                          <div class="col-md-11 text-right"></div>
                                        </div>
                                      </div>
                                      <div class="table-box-body" id="datatable" [hidden]="!isFetchingData">
                                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                          class="table b-l-0 route-table m-b-0 table-hover table-striped table-bordered"
                                          id="angulardatatable">
                                          <thead class="thead-light">
                                            <tr>
                                              <!-- class="loadfreeth" -->

                                              <th></th>
                                              <th>Tasks Name</th>
                                              <th>Activity Name</th>
                                              <th>Objective Name</th>
                                              <th>Project Name</th>

                                              <th>Attachments</th>
                                              <th>Percentage</th>
                                              <th>Status</th>

                                              <th class="text-align">Change Status</th>
                                              <th class="text-align">Delete</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <ng-template ngFor let-data [ngForOf]="result" let-i="index">
                                              <!-- [class.odd]="" -->
                                              <tr role="row" class="">
                                                <td>
                                                  {{ i + 1 }}
                                                </td>
                                                <td>
                                                  {{ data.task_name }}
                                                </td>
                                                <td>
                                                  {{ data.activity_detail?.activity_name }}
                                                </td>
                                                <td>
                                                  {{ data.objective_detail?.objective_name }}
                                                </td>

                                                <td>
                                                  {{
                                                    data?.project_detail?.name
                                                  }}
                                                </td>
                                                <td> <a (click)="
                                                  openAttachments(upload,
                                                    data
                                                  )
                                                "><i class="material-icons">attach_file</i>
                                                  </a> </td>
                                                <td>

                                                  <progressbar class="progress" [value]="data.percentage"
                                                    type="success">
                                                    {{data.percentage}}%</progressbar>

                                                </td>

                                                <td>
                                                  <span class="label label-sm" [class.green]="
                                                      data.status == 'complete'
                                                    " [class.blue]="
                                                      data.status == 'pending'
                                                    " [class.orange]="
                                                      data.status == 'hold'
                                                    " [class.red]="
                                                      data.status == 'cancelled'
                                                    ">
                                                    {{ data.status }}
                                                  </span>
                                                </td>

                                                <!-- <td class="text-align">
                                                  <span class="label label-sm" [class.green]="
                                                      data.status == 'Unblocked'
                                                    " [class.red]="
                                                      data.status == 'Blocked'
                                                    ">{{ data.status }}</span>
                                                </td> -->
                                                <td>
                                                  <div class="btn-group inline" dropdown>
                                                    <span class="nav-item inline dropdown">
                                                      <a class="text-muted p-x-xs" aria-expanded="true" dropdownToggle>
                                                        <i class="material-icons dropdown-icon">
                                                          more_vert
                                                        </i>
                                                      </a>
                                                    </span>
                                                    <ul *dropdownMenu
                                                      class="dropdown-menu custom-dropdown dropdown-menu-left  pull-right"
                                                      role="menu">


                                                      <li>
                                                        <a (click)="updateAppStatus('pending',data)"
                                                          class="dropdown-items" id="" title="Pending">
                                                          <label>Pending</label>
                                                        </a>
                                                        <a (click)="updateAppStatus('complete',data)"
                                                          class="dropdown-items" id="" title="Complete">
                                                          <label>Complete</label>
                                                        </a>
                                                        <!-- <a (click)="updateAppStatus('hold',data)" class="dropdown-items" id="" title="Hold">
                                                          <label>Hold</label>
                                                        </a>
                                                        <a (click)="updateAppStatus('cancelled',data)" class="dropdown-items" id="" title="Cancelled">
                                                          <label>Cancelled</label>
                                                        </a> -->
                                                      </li>
                                                      <!-- <li>
                                                          <a class="dropdown-item" id="" title="View Detail">
                                                            <i class="material-icons">delete</i>
                                                            <label>Delete</label>
                                                          </a>
                                                        </li> -->

                                                    </ul>

                                                  </div>
                                                  <!-- <a><i class="material-icons">more_vert</i></a> -->
                                                </td>

                                                <td class="text-align">
                                                  <!-- <span

                                                  >
                                                    <a
                                                      (click)="
                                                        openConfirmationTab(
                                                          deleteconfirmation,
                                                          data
                                                        )
                                                      "
                                                      ><i class="material-icons"
                                                        >delete</i
                                                      >
                                                    </a>
                                                  </span> -->
                                                </td>
                                              </tr>
                                            </ng-template>
                                          </tbody>
                                          <td *ngIf="result?.length === 0" colspan="12" class="no-data-available">
                                            Data is not Available.
                                          </td>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Right End -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirmation  Modal -->
  <ng-template #confirmation>
    <div class="modal-body text-center">
      <p>
        Are you sure you want to <strong>{{ msgstatus }}</strong>
        {{ changedApp?.name }}?
      </p>
      <button type="button" class="btn btn-green" (click)="updateAppStatus()">
        Yes
      </button>
      <button type="button" class="btn btn-default" (click)="decline()">
        No
      </button>
    </div>
  </ng-template>
  <!-- Confirmation  Modal -->
  <ng-template #deleteconfirmation>
    <div class="modal-body text-center">
      <p>Are you sure you want to remove {{ changedApp?.name }}?</p>
      <button type="button" class="btn btn-green" (click)="deleteApplication()">
        Yes
      </button>
      <button type="button" class="btn btn-default" (click)="decline()">
        No
      </button>
    </div>
  </ng-template>

  <!-- App Info  Modal -->
  <ng-template #appinfomodal>
    <!-- <app-activitiesmodal
      [formData]="formData"
      [newInstance]="newInstance"
      (outputAndReload)="outputAndReload()"
      (output)="decline()"
    ></app-activitiesmodal> -->
  </ng-template>

  <!-- Report  Modal
  <ng-template #report>
    <div class="modal-header _600">
      <button type="button" class="close" (click)="closeReportsModal()">
        <span aria-hidden="true">×</span>
      </button>
      Reports
    </div>
    <div class="modal-body text-center">
      <div style="display:inline">
        <button
          (click)="generateReport('csv')"
          class="btn btn-green round"
          type="button"
          title="Excel"
        >
          Generate CSV Report
        </button>
        <button
          (click)="generateReport('pdf')"
          class="btn btn-green round"
          type="button"
          title="Excel"
        >
          Generate PDF Report
        </button>
      </div>
    </div>
  </ng-template>
</div> -->
</div>
<!-- Upload Modal -->
<ng-template #upload>
  <shared-upload-attachments [title]="title" (output)="reload()" [attachments]="attachments" [formData]="tempFormData"
    [fileType]="'tasks'">
  </shared-upload-attachments>
</ng-template>
