<div class="modal-content">
  <!--  -->
  <form class="form-horizontal" [formGroup]="appInfoForm">
    <div class="modal-header _600">
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">×</span>
      </button>
      Department Info
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-lg-3 form-control-label">ID:</label>
        <div class="col-lg-9">
          <input disabled formControlName="id" [ngClass]="{
              'error-input': submitForm && appInfoForm.controls['id'].invalid
            }" class="form-control" type="text" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 form-control-label">Name:</label>
        <div class="col-lg-9">
          <input maxLength="30" formControlName="name" [ngClass]="{
              'error-input': submitForm && appInfoForm.controls['name'].invalid
            }" class="form-control" type="text" />
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-line" (click)="closeModal()">
        Cancel
      </button>
      <button type="button" (click)="saveAppInfo()" class="btn btn-green round" [disabled]="isLoading">
        <i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin btn-spinner"></i>
        <span *ngIf="!isLoading">Save </span>
      </button>

      <!--  -->
    </div>
    <!-- <div class="modal-footer">

      </div> -->
  </form>
</div>
