<div class="modal-content">
  <!--  -->
  <form class="form-horizontal" [formGroup]="appInfoForm">
    <div class="modal-header _600">
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="wizard-nav max">
        <li class="wizard-item">
          <a class="wizard-link" [class.active]="true">Tasks</a>
        </li>
      </ul>

      <div>
        <div id="tab-3" formArrayName="tasks">
          <div *ngFor="let item of formDataTasks.controls; let i = index" [formGroupName]="i">
            <div class="row">
              <div class="col-lg-12">
                <div *ngIf="i != -1" class="pull-right add-btn">
                  <button _ngcontent-c13="" (click)="deleteTask(i, item)" class="btn btn-sm btn-block btn-line"
                    type="button">
                    <i class="material-icons">delete</i>
                  </button>
                </div>
                <div *ngIf="i == 0" class="pull-right add-btn">
                  <button class="btn btn-sm customclass btn-block btn-green" (click)="addTasks()" type="button">
                    <i _ngcontent-c8="" class="material-icons">add</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group row">
                  <label class="col-lg-3 form-control-label l-label">Task Name:</label>

                  <div class="col-lg-9">
                    <input type="text" [ngClass]="{
                        'error-input':
                          submitObjectives &&
                          formDataTasks.controls[i].controls['activity_name']
                            .invalid
                      }" formControlName="task_name" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group row">
                  <!-- <label class="col-lg-2 form-control-label l-label"
                    >Users Assigned:</label
                  > -->

                  <div class="col-lg-3">
                    <label class=" form-control-label l-label">Project Coordinators / Officerss:</label>
                  </div>
                  <div class="col-lg-9">

                    <!-- <input
                      class="form-control"
                      [ngClass]="{
                        'error-input':
                          submitObjectives &&
                          formDataSubsidiariesInfo.controls[i].controls[
                            'users_assigned'
                          ].invalid
                      }"
                      maxLength="3"
                      numbersOnly
                      formControlName="users_assigned"
                      id=""
                      name=""
                      rows="3"
                    /> -->

                    <ng-select [items]="usersList" [multiple]="true" bindLabel="name" formControlName="users_assigned"
                      placeholder="Select Project Coordinators / Officerss">
                      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items ? items.slice(0, 2) : []">
                          <span class="ng-value-label"><img [src]="item.src" width="20px" height="20px" />
                            {{ item.name }}</span>
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                          <span class="ng-value-label">{{ items.length - 2 }} more...</span>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group row">
                  <label class="col-lg-3 form-control-label l-label">Start Date:</label>

                  <div class="col-lg-9">
                    <input type="text" bsDatepicker [ngClass]="{
                            'error-input':
                              submitObjectives &&
                              formDataTasks.controls[i].controls[
                                'start_date'
                              ].invalid
                          }" formControlName="start_date" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group row">
                  <label class="col-lg-3 form-control-label l-label">End Date:</label>

                  <div class="col-lg-9">
                    <input type="text" bsDatepicker [ngClass]="{
                            'error-input':
                              submitObjectives &&
                              formDataTasks.controls[i].controls[
                                'end_date'
                              ].invalid
                          }" formControlName="end_date" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group row">
                  <label class="col-lg-3 form-control-label">severity:</label>
                  <div class="col-lg-9">
                    <select formControlName="severity" [ngClass]="{
                    'error-input':
                    submitObjectives &&formDataTasks.controls[i].controls['severity'].invalid
                  }" name="name" class="form-control valid">
                      <ng-template ngFor let-item [ngForOf]="severityList" let-i="index">
                        <option value="{{ item.name }}">{{ item.name }} </option>
                      </ng-template>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <a (click)="
                      openAttachments(upload,
                      item.value
                      )
                    "><i class="material-icons">attach_file</i>
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <hr class="line" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-line" (click)="closeModal()">
        Cancel
      </button>
      <button type="button" (click)="saveAppInfo()" class="btn btn-green round" [disabled]="isLoading">
        <i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin btn-spinner"></i>
        <span *ngIf="!isLoading">Save </span>
      </button>

      <!--  -->
    </div>
    <!-- <div class="modal-footer">

      </div> -->
  </form>
</div>

<!-- Confirmation  Modal -->
<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to remove
      {{ taskInfo?.value?.task_name }} Task?
    </p>
    <button type="button" class="btn btn-green" (click)="deleteTaskFromDB()">
      Yes
    </button>
    <button type="button" class="btn btn-default" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<ng-template #upload>
  <shared-upload-attachments [title]="title" (output)="reload()" [attachments]="attachments" [formData]="tempFormData"
    [fileType]="'tasks'">
  </shared-upload-attachments>
</ng-template>
